.about-us-page {
  display: grid;
  grid-template-columns: 2fr 3fr;
  height: 110vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.about-image {
  height: 110vh;
  width: 100%;
  object-fit: cover;
}

.about-right-container {
  width: 100%;
  height: 110vh;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.about-us-title {
  width: 100%;
  line-height: 100%;
  position: absolute;
  top: 5%;
  left: 50%;
  text-align: center;
  font-size: calc(7vh + 5vw);
  font-weight: bold;
  transform: translate(-50%, 0);
}

.about-us-text {
  position: absolute;
  max-height: 80%;
  width: 75%;
  top: 25%;
  left: 50%;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-size: calc(1.2vh + 1.2vw);
  font-weight: 400;
  text-align: center;
  padding: 3%;
  border-style: solid;
  border-color: hsl(46, 100%, 50%);
  margin-top: 6vh;

  transform: translate(-50%, 0);
}
