.header {
  display: flex;
  height: 85px;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background: transparent;
  top: 0px;
  left: 0px;
  right: 0px;
  transition: background 0.9s ease;
  z-index: 1;
}

.header.scrolled {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.9),
    85%,
    transparent
  ); /* Change to your desired color */
}

.header-left {
  display: flex;
  margin-left: 20px;
  margin-right: 30px;
  width: 50px;
}

.nav-button {
  margin-left: 5px;
  background-color: transparent;
  border: none;
  color: white;
  font-family: "Edu VIC WA NT Beginner";
  font-size: large;
  font-weight: bolder;
  transition: opacity 0.3s ease;
  text-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black,
    -1px 1px 0 black;
  padding-left: calc(0.12 * 10vw);
  padding-right: calc(0.12 * 10vw);
}

.nav-button:hover {
  cursor: pointer;
  color: black;
  text-shadow: 1px 1px 0 hsl(46, 100%, 50%), -1px -1px 0 hsl(46, 100%, 50%),
    1px -1px 0 hsl(46, 100%, 50%), -1px 1px 0 hsl(46, 100%, 50%);
}

.header-right {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 20px;
  gap: 5px;
}

.hidden-header-button:hover {
  color: black;
  text-shadow: 1px 1px 0 hsl(46, 100%, 50%), -1px -1px 0 hsl(46, 100%, 50%),
    1px -1px 0 hsl(46, 100%, 50%), -1px 1px 0 hsl(46, 100%, 50%);
}

.hidden-header-button:active {
  color: white;
}
.hidden-header-button {
  width: 10vw;
  display: flex;
  opacity: 0;
  flex: 1;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  color: white;
  font-family: "Edu VIC WA NT Beginner";
  font-size: large;
  font-weight: bolder;
  transition: opacity 0.3s ease;
  text-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black,
    -1px 1px 0 black;
  padding-left: calc(0.12 * 10vw);
  padding-right: calc(0.12 * 10vw);
}

.header-button-link {
  text-decoration: none;
  color: inherit;
  align-items: center;
  margin: 0;
  padding: 0;
}

.header-button-link-event {
  text-decoration: none;
  color: inherit;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-top: 3px;
}

.header:hover .hidden-header-button {
  opacity: 1;
  cursor: pointer;
}
.tac-button {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 50%;
  border: none;
  width: 80px;
}

.tac-button:hover {
  opacity: 0.8;
  cursor: pointer;
}
.tac-button:active {
  opacity: 1;
}

.tac-logo {
  height: 70px;
  border-radius: 35px;
}
